<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="img/brand_name_logo.png" alt="FIREFLY" />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()">
        <div class="button-content">
          <img
            src="img/firebase_logo.png"
            alt="Firebase logo"
            width="18"
            height="18"
          />
          <span>Connect with Firebase</span>
        </div>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
