@use '@angular/material' as mat;

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: mat.$red-palette,
      typography: Oxanium,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
}
