@use '@angular/material' as mat;

html {
  color-scheme: dark;

  @include mat.theme(
    (
      color: mat.$green-palette,
      density: 0,
      typography: Oxanium,
    )
  );
}

html,
body {
  font-family: Oxanium, sans-serif;
  height: 100%;
  margin: 0;
}
